[submodule "support/express"]
	path = support/express
	url = https://github.com/visionmedia/express.git
[submodule "support/connect"]
	path = support/connect
	url = https://github.com/senchalabs/connect.git
[submodule "support/qs"]
	path = support/qs
	url = https://github.com/visionmedia/node-querystring.git
[submodule "support/coffee"]
	path = support/coffee
	url = https://github.com/jashkenas/coffee-script.git
[submodule "support/mime"]
	path = support/mime
	url = https://github.com/bentomas/node-mime.git
[submodule "support/socket.io"]
	path = support/socket.io
	url = https://github.com/LearnBoost/Socket.IO-node.git
