!!! 5
html(lang="en")
  head
    title="Blabbr on"
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    script(type='text/javascript',src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    link(rel="stylesheet",href="/css/blabbr.css")
  body
    != body
